#Arquivos e Pastas de Obj, Executáveis e Binários
*.o
*.exe
/bin
/obj
#Arquivos do CodeBlocks
*.cbp
*.layout
*.depend
#Arquivos gerados pelo Vscode
tempCodeRunnerFile
#Outras extensões de arquivo
*.txt